<div *ngIf="isAuthenticated" class="container">

  <div class="row mt-3">
    <div class="col-md-3 text-center">
      <img class="img-fluid" src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" />
      <h5 class="mt-3">Sistema de Controle de Contatos</h5>
      <p>Aplicação frontend Angular integrado a API NET CORE com EntityFramework</p>
      <hr />

      <strong>{{nome_usuario}}</strong>
      <p class="mb-3">
        <small>{{email_usuario}}</small>
      </p>

      <div class="d-grid">
        <a routerLink="" class="btn btn-outline-primary btn-sm mb-2">
          Página Principal
        </a>
      </div>

      <div class="d-grid">
        <a routerLink="cadastrar-contatos" class="btn btn-outline-primary btn-sm mb-2">
          Cadastrar Contatos
        </a>
      </div>

      <div class="d-grid">
        <a routerLink="consultar-contatos" class="btn btn-outline-primary btn-sm mb-2">
          Consultar Contatos
        </a>
      </div>

      <hr />

      <div class="d-grid">
        <button (click)="logout()" class="btn btn-outline-danger btn-sm mb-2">
          Sair do Sistema
        </button>
      </div>

    </div>
    <div class="col-md-9">

      <!-- local para exibir os componentes -->
      <router-outlet></router-outlet>

    </div>
  </div>

</div>

<div *ngIf="!isAuthenticated" class="row mt-5">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">

      <div class="text-center">
        <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" />
        <h5>Acesso ao Sistema</h5>
        <hr />
      </div>

      <form [formGroup]="formAccountLogin" (ngSubmit)="onSubmitLogin()" autocomplete="off">

        <label>Email de acesso:</label>
        <input type="text" class="form-control" formControlName="email" />
        <div class="text-danger" *ngIf="formLogin.email.touched && formLogin.email.invalid">
          <span *ngIf="formLogin.email.errors.required">
            Por favor, informe o seu email de acesso.
          </span>
          <span *ngIf="formLogin.email.errors.email">
            Formato de email fornecido é inválido.
          </span>
        </div>
        <br />

        <label>Senha de acesso:</label>
        <input type="password" class="form-control" formControlName="senha" />
        <div class="text-danger" *ngIf="formLogin.senha.touched && formLogin.senha.invalid">
          <span *ngIf="formLogin.senha.errors.required">
            Por favor, informe a sua senha de acesso.
          </span>
        </div>
        <div class="text-end">
          <a href="#" data-bs-target="#recuperar_senha" data-bs-toggle="modal">
            Esqueci minha senha?
          </a>
        </div>
        <br />

        <div class="d-grid">
          <input type="submit" value="Acessar Sistema" class="btn btn-success" [disabled]="!formAccountLogin.valid" />
        </div>

      </form>

      <div *ngIf="loginMessage" class="alert alert-danger text-center mt-3">
        <strong>{{loginMessage}}</strong>
      </div>

      <hr />

      <div class="d-grid">
        <input type="button" value="Criar Conta de Usuário" data-bs-target="#criar_conta" data-bs-toggle="modal"
          class="btn btn-light" />
      </div>

    </div>
  </div>
</div>

<!-- Janela modal para recuperação de senha do usuário -->
<div id="recuperar_senha" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Esqueci minha senha?</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="formAccountPasswordRecover" (ngSubmit)="onSubmitPasswordRecover()" autocomplete="off">

          <label>Informe o seu email para receber uma nova senha de acesso:</label>
          <input type="text" class="form-control" formControlName="email" />
          <div class="text-danger" *ngIf="formPasswordRecover.email.touched && formPasswordRecover.email.invalid">
            <span *ngIf="formPasswordRecover.email.errors.required">
              Por favor, informe o seu email de acesso.
            </span>
            <span *ngIf="formPasswordRecover.email.errors.email">
              Formato de email fornecido é inválido.
            </span>
          </div>
          <div *ngIf="erroRecuperarSenha" class="text-danger">
            {{erroRecuperarSenha}}
          </div>
          <br />

          <input type="submit" class="btn btn-primary" value="Recuperar Senha"
            [disabled]="!formAccountPasswordRecover.valid" />
          <input type="button" class="btn btn-light" value="Cancelar" data-bs-dismiss="modal" />

          <div *ngIf="passwordRecoverMessage" class="alert alert-success mt-3 text-center">
            <strong>{{passwordRecoverMessage}}</strong>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- Janela modal para criação da conta do usuário -->
<div id="criar_conta" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Criar conta de usuário</h5>
      </div>
      <div class="modal-body">

        <form [formGroup]="formAccountRegister" (ngSubmit)="onSubmitRegister()" autocomplete="off">

          <label>Informe seu nome:</label>
          <input type="text" class="form-control" formControlName="nome" />
          <div class="text-danger" *ngIf="formRegister.nome.touched && formRegister.nome.invalid">
            <span *ngIf="formRegister.nome.errors.required">
              Por favor, informe o seu nome.
            </span>
            <span *ngIf="formRegister.nome.errors.minlength">
              Por favor, informe no mínimo 6 caracteres.
            </span>
            <span *ngIf="formRegister.nome.errors.maxlength">
              Por favor, informe no máximo 150 caracteres.
            </span>
          </div>
          <br />

          <label>Informe seu email de acesso:</label>
          <input type="text" class="form-control" formControlName="email" />
          <div class="text-danger" *ngIf="formRegister.email.touched && formRegister.email.invalid">
            <span *ngIf="formRegister.email.errors.required">
              Por favor, informe o seu email de acesso.
            </span>
            <span *ngIf="formRegister.email.errors.email">
              Formato de email fornecido é inválido.
            </span>
          </div>
          <div *ngIf="erroEmail" class="text-danger">
            {{erroEmail}}
          </div>
          <br />

          <label>Informe sua senha:</label>
          <input type="password" class="form-control" formControlName="senha" />
          <div class="text-danger" *ngIf="formRegister.senha.touched && formRegister.senha.invalid">
            <span *ngIf="formRegister.senha.errors.required">
              Por favor, informe a sua senha.
            </span>
            <span *ngIf="formRegister.senha.errors.minlength">
              Por favor, informe no mínimo 8 caracteres.
            </span>
            <span *ngIf="formRegister.senha.errors.maxlength">
              Por favor, informe no máximo 20 caracteres.
            </span>
          </div>
          <div *ngIf="erroSenha" class="text-danger">
            {{erroSenha}}
          </div>
          <br />

          <label>Confirme sua senha:</label>
          <input type="password" class="form-control" formControlName="senhaConfirmacao" />
          <div class="text-danger"
            *ngIf="formRegister.senhaConfirmacao.touched && formRegister.senhaConfirmacao.invalid">
            <span *ngIf="formRegister.senhaConfirmacao.errors.required">
              Por favor, confirme a sua senha.
            </span>
          </div>
          <div *ngIf="erroSenhaConfirmacao" class="text-danger">
            {{erroSenhaConfirmacao}}
          </div>
          <br />

          <input type="submit" class="btn btn-success" value="Realizar Cadastro"
            [disabled]="!formAccountRegister.valid" />
          <input type="button" class="btn btn-light" value="Cancelar" data-bs-dismiss="modal" />

          <div *ngIf="registerMessage" class="alert alert-success mt-3">
            <strong>{{registerMessage}}</strong>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>